@import url("https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,700i,800,900");
:root {
  font-size: 16px; }

html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  text-overflow: ellipsis;
  font-variant: normal;
  font-family: sans-serif;
  font-size: 16px; }

body {
  font-family: sans-serif;
  font-smoothing: antialiased;
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300; }

.bgi, .bg--img1::after, .logo--header, .logo--footer, .logo--company, .section--hero, .section--hero-article, .section--hero-services, .list__item--1::before {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain; }

.bg--fh, .section--hero, .section--hero-article, .section--hero-services {
  min-height: 40rem;
  height: -webkit-calc(100% - 140px);
  height: calc(100% - 140px);
  width: 100%; }

.bg--overlay1, .form--1 {
  background-color: rgba(255, 255, 255, 0.26);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.9375rem;
  border-radius: 0.3125rem; }

.bg--img1 {
  position: relative; }
  .bg--img1::after {
    content: " ";
    background-image: url(../img/bg1.png);
    background-position: 0 0;
    background-size: cover;
    left: -100px;
    top: -100px;
    max-width: 37.5rem !important;
    width: 100% !important;
    height: 400px !important; }

.bg--white {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0.9375rem;
  -webkit-box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.2); }

.bg--gray {
  background-color: #f5f6f7; }

.bg--gray1 {
  background-color: #f6f7f8; }

.bg--gray2 {
  background-color: #f1f1f1; }

.bg--grad1, .text--testimonials, .news__text {
  position: relative; }
  .bg--grad1::after, .text--testimonials::after, .news__text::after {
    content: " ";
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.8)), to(transparent));
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.8), transparent);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), transparent);
    z-index: 1 !important; }

.bg--main {
  background-color: #0199e6;
  color: #fff;
  border-radius: 0.9375rem;
  -webkit-box-shadow: -4px 10px 20px -2px rgba(0, 0, 0, 0.2), 0 2px 0 0 #03A9F4;
          box-shadow: -4px 10px 20px -2px rgba(0, 0, 0, 0.2), 0 2px 0 0 #03A9F4;
  padding: 1.875rem 0;
  margin: 3.125rem auto 1.875rem; }
  .bg--main .btn--bg {
    background-color: #fff;
    color: #0199e6; }
    .bg--main .btn--bg:hover {
      background-color: rgba(255, 255, 255, 0.2);
      border-color: #fff;
      color: #fff; }
  .bg--main .btn--bd {
    border-color: #fff;
    color: #fff; }
    .bg--main .btn--bd:hover {
      background-color: rgba(255, 255, 255, 0.2); }
  .bg--main .icon {
    fill: #fff; }

.bg--round {
  border-top-left-radius: 15%;
  border-top-right-radius: 15%; }

@-webkit-keyframes loader {
  0%, 10%, 100% {
    width: 80px;
    height: 80px; }
  65% {
    width: 150px;
    height: 150px; } }

@keyframes loader {
  0%, 10%, 100% {
    width: 80px;
    height: 80px; }
  65% {
    width: 150px;
    height: 150px; } }

@-webkit-keyframes loaderBlock {
  0%, 30% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  55% {
    background-color: rgba(255, 255, 255, 0.5); }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); } }

@keyframes loaderBlock {
  0%, 30% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  55% {
    background-color: rgba(255, 255, 255, 0.5); }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); } }

@-webkit-keyframes loaderBlockInverse {
  0%, 20% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  55% {
    background-color: rgba(255, 255, 255, 0.5); }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); } }

@keyframes loaderBlockInverse {
  0%, 20% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  55% {
    background-color: rgba(255, 255, 255, 0.5); }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); } }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0199e6;
  z-index: 100502; }

.preloader-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
          transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  -webkit-animation: loader 1.2s infinite ease-in-out;
          animation: loader 1.2s infinite ease-in-out;
  z-index: 100503; }
  .preloader-loader span {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    -webkit-animation: loaderBlock 1.2s infinite ease-in-out both;
            animation: loaderBlock 1.2s infinite ease-in-out both; }
    .preloader-loader span:nth-child(1) {
      top: 0;
      left: 0; }
    .preloader-loader span:nth-child(2) {
      top: 0;
      right: 0;
      -webkit-animation: loaderBlockInverse 1.2s infinite ease-in-out both;
              animation: loaderBlockInverse 1.2s infinite ease-in-out both; }
    .preloader-loader span:nth-child(3) {
      bottom: 0;
      left: 0;
      -webkit-animation: loaderBlockInverse 1.2s infinite ease-in-out both;
              animation: loaderBlockInverse 1.2s infinite ease-in-out both; }
    .preloader-loader span:nth-child(4) {
      bottom: 0;
      right: 0; }

:root {
  font-size: 16px; }

html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  text-overflow: ellipsis;
  font-variant: normal;
  font-family: sans-serif;
  font-size: 16px; }

body {
  font-family: sans-serif;
  font-smoothing: antialiased;
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300; }

.bgi, .bg--img1::after, .logo--header, .logo--footer, .logo--company, .section--hero, .section--hero-article, .section--hero-services, .list__item--1::before {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain; }

.bg--fh, .section--hero, .section--hero-article, .section--hero-services {
  min-height: 40rem;
  height: -webkit-calc(100% - 140px);
  height: calc(100% - 140px);
  width: 100%; }

.bg--overlay1, .form--1 {
  background-color: rgba(255, 255, 255, 0.26);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.9375rem;
  border-radius: 0.3125rem; }

.bg--img1 {
  position: relative; }
  .bg--img1::after {
    content: " ";
    background-image: url(../img/bg1.png);
    background-position: 0 0;
    background-size: cover;
    left: -100px;
    top: -100px;
    max-width: 37.5rem !important;
    width: 100% !important;
    height: 400px !important; }

.bg--white {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0.9375rem;
  -webkit-box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.2); }

.bg--gray {
  background-color: #f5f6f7; }

.bg--gray1 {
  background-color: #f6f7f8; }

.bg--gray2 {
  background-color: #f1f1f1; }

.bg--grad1, .text--testimonials, .news__text {
  position: relative; }
  .bg--grad1::after, .text--testimonials::after, .news__text::after {
    content: " ";
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.8)), to(transparent));
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.8), transparent);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), transparent);
    z-index: 1 !important; }

.bg--main {
  background-color: #0199e6;
  color: #fff;
  border-radius: 0.9375rem;
  -webkit-box-shadow: -4px 10px 20px -2px rgba(0, 0, 0, 0.2), 0 2px 0 0 #03A9F4;
          box-shadow: -4px 10px 20px -2px rgba(0, 0, 0, 0.2), 0 2px 0 0 #03A9F4;
  padding: 1.875rem 0;
  margin: 3.125rem auto 1.875rem; }
  .bg--main .btn--bg {
    background-color: #fff;
    color: #0199e6; }
    .bg--main .btn--bg:hover {
      background-color: rgba(255, 255, 255, 0.2);
      border-color: #fff;
      color: #fff; }
  .bg--main .btn--bd {
    border-color: #fff;
    color: #fff; }
    .bg--main .btn--bd:hover {
      background-color: rgba(255, 255, 255, 0.2); }
  .bg--main .icon {
    fill: #fff; }

.bg--round {
  border-top-left-radius: 15%;
  border-top-right-radius: 15%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none; }
  *::-moz-selection {
    background-color: #f0f1f3; }
  *::selection {
    background-color: #f0f1f3; }

body {
  overflow: hidden;
  overflow-y: scroll; }
  body::-webkit-scrollbar {
    width: 3px;
    height: 3px; }
  body::-webkit-scrollbar-track {
    background-color: #000; }
  body::-webkit-scrollbar-thumb {
    background-color: #0199e6; }

img {
  max-width: 100%;
  margin: 0 auto;
  object-fit: contain;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

a {
  color: inherit;
  text-decoration: none; }

.clearfix::after, .gallery-photo::after {
  content: " ";
  clear: both;
  display: table; }

.flex, .flex--center, .img-wrap--partner, .header-btm, .field-group--1 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .flex--center, .img-wrap--partner {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100500; }

li {
  list-style-type: none; }

input:focus::-moz-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

input:focus:-ms-input-placeholder {
  color: transparent; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input::-moz-placeholder {
  color: #fff;
  opacity: 1; }

input:-moz-placeholder {
  color: #fff; }

input:-ms-input-placeholder {
  color: #fff; }

input::-webkit-input-placeholder {
  color: #fff; }

.abs, .bg--img1::after, .bg--grad1::after, .text--testimonials::after, .news__text::after, .abs--center, .section--hero::after, .section--hero-article::after, .section--hero-services::after, .header, .list__item--1::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1; }
  .abs--center, .section--hero::after, .section--hero-article::after, .section--hero-services::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }

.trs, .btn--bg, .btn--bd, .btn--main, .btn--bd2 {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

/* BEGIN flexbox grid */
.container {
  max-width: 73.125rem;
  width: 100%;
  margin: auto;
  padding: 0 1rem; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-right: -1rem;
  margin-left: -1rem; }
  .row.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }

.col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
  .col.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

.xs-1, .xs-2, .xs-3,
.xs-4, .xs-5, .xs-6,
.xs-7, .xs-8, .xs-9,
.xs-10, .xs-11, .xs-12,
[class*=xs-gap] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem; }

.xs {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  max-width: 100%; }
  .xs_start {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start; }
  .xs_center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
  .xs_end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end; }
  .xs_top {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .xs_middle {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .xs_bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .xs_around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .xs_between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .xs_first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1; }
  .xs_last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }

.xs-1 {
  -webkit-flex-basis: 8.33333%;
      -ms-flex-preferred-size: 8.33333%;
          flex-basis: 8.33333%;
  max-width: 8.33333%; }

.xs-2 {
  -webkit-flex-basis: 16.66667%;
      -ms-flex-preferred-size: 16.66667%;
          flex-basis: 16.66667%;
  max-width: 16.66667%; }

.xs-3 {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  max-width: 25%; }

.xs-4 {
  -webkit-flex-basis: 33.33333%;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%;
  max-width: 33.33333%; }

.xs-5 {
  -webkit-flex-basis: 41.66667%;
      -ms-flex-preferred-size: 41.66667%;
          flex-basis: 41.66667%;
  max-width: 41.66667%; }

.xs-6 {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%; }

.xs-7 {
  -webkit-flex-basis: 58.33333%;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%;
  max-width: 58.33333%; }

.xs-8 {
  -webkit-flex-basis: 66.66667%;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%;
  max-width: 66.66667%; }

.xs-9 {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  max-width: 75%; }

.xs-10 {
  -webkit-flex-basis: 83.33333%;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%;
  max-width: 83.33333%; }

.xs-11 {
  -webkit-flex-basis: 91.66667%;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%;
  max-width: 91.66667%; }

.xs-12 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%; }

.xs-gap-0 {
  margin-left: 0; }

.xs-gap-1 {
  margin-left: 8.33333%; }

.xs-gap-2 {
  margin-left: 16.66667%; }

.xs-gap-3 {
  margin-left: 25%; }

.xs-gap-4 {
  margin-left: 33.33333%; }

.xs-gap-5 {
  margin-left: 41.66667%; }

.xs-gap-6 {
  margin-left: 50%; }

.xs-gap-7 {
  margin-left: 58.33333%; }

.xs-gap-8 {
  margin-left: 66.66667%; }

.xs-gap-9 {
  margin-left: 75%; }

.xs-gap-10 {
  margin-left: 83.33333%; }

.xs-gap-11 {
  margin-left: 91.66667%; }

.xs-gap-12 {
  margin-left: 100%; }

@media only screen and (min-width: 30rem) {
  .sm-1, .sm-2, .sm-3,
  .sm-4, .sm-5, .sm-6,
  .sm-7, .sm-8, .sm-9,
  .sm-10, .sm-11, .sm-12,
  [class*=sm-gap] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem; }
  .sm {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    max-width: 100%; }
    .sm_start {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      text-align: start; }
    .sm_center {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center; }
    .sm_end {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      text-align: end; }
    .sm_top {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .sm_middle {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .sm_bottom {
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
    .sm_around {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
    .sm_between {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .sm_first {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1; }
    .sm_last {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
  .sm-1 {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .sm-2 {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .sm-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%; }
  .sm-4 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .sm-5 {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .sm-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%; }
  .sm-7 {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .sm-8 {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .sm-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%; }
  .sm-10 {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .sm-11 {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .sm-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%; }
  .sm-gap-0 {
    margin-left: 0; }
  .sm-gap-1 {
    margin-left: 8.33333%; }
  .sm-gap-2 {
    margin-left: 16.66667%; }
  .sm-gap-3 {
    margin-left: 25%; }
  .sm-gap-4 {
    margin-left: 33.33333%; }
  .sm-gap-5 {
    margin-left: 41.66667%; }
  .sm-gap-6 {
    margin-left: 50%; }
  .sm-gap-7 {
    margin-left: 58.33333%; }
  .sm-gap-8 {
    margin-left: 66.66667%; }
  .sm-gap-9 {
    margin-left: 75%; }
  .sm-gap-10 {
    margin-left: 83.33333%; }
  .sm-gap-11 {
    margin-left: 91.66667%; }
  .sm-gap-12 {
    margin-left: 100%; } }

@media only screen and (min-width: 40rem) {
  .md-1, .md-2, .md-3,
  .md-4, .md-5, .md-6,
  .md-7, .md-8, .md-9,
  .md-10, .md-11, .md-12,
  [class*=md-gap] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem; }
  .md {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    max-width: 100%; }
    .md_start {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      text-align: start; }
    .md_center {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center; }
    .md_end {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      text-align: end; }
    .md_top {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .md_middle {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .md_bottom {
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
    .md_around {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
    .md_between {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .md_first {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1; }
    .md_last {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
  .md-1 {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .md-2 {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .md-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%; }
  .md-4 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .md-5 {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .md-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%; }
  .md-7 {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .md-8 {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .md-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%; }
  .md-10 {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .md-11 {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .md-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%; }
  .md-gap-0 {
    margin-left: 0; }
  .md-gap-1 {
    margin-left: 8.33333%; }
  .md-gap-2 {
    margin-left: 16.66667%; }
  .md-gap-3 {
    margin-left: 25%; }
  .md-gap-4 {
    margin-left: 33.33333%; }
  .md-gap-5 {
    margin-left: 41.66667%; }
  .md-gap-6 {
    margin-left: 50%; }
  .md-gap-7 {
    margin-left: 58.33333%; }
  .md-gap-8 {
    margin-left: 66.66667%; }
  .md-gap-9 {
    margin-left: 75%; }
  .md-gap-10 {
    margin-left: 83.33333%; }
  .md-gap-11 {
    margin-left: 91.66667%; }
  .md-gap-12 {
    margin-left: 100%; } }

@media only screen and (min-width: 48rem) {
  .lg-1, .lg-2, .lg-3,
  .lg-4, .lg-5, .lg-6,
  .lg-7, .lg-8, .lg-9,
  .lg-10, .lg-11, .lg-12,
  [class*=lg-gap] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem; }
  .lg {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    max-width: 100%; }
    .lg_start {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      text-align: start; }
    .lg_center {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center; }
    .lg_end {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      text-align: end; }
    .lg_top {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .lg_middle {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .lg_bottom {
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
    .lg_around {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
    .lg_between {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .lg_first {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1; }
    .lg_last {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
  .lg-1 {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .lg-2 {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .lg-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%; }
  .lg-4 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .lg-5 {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .lg-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%; }
  .lg-7 {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .lg-8 {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .lg-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%; }
  .lg-10 {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .lg-11 {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .lg-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%; }
  .lg-gap-0 {
    margin-left: 0; }
  .lg-gap-1 {
    margin-left: 8.33333%; }
  .lg-gap-2 {
    margin-left: 16.66667%; }
  .lg-gap-3 {
    margin-left: 25%; }
  .lg-gap-4 {
    margin-left: 33.33333%; }
  .lg-gap-5 {
    margin-left: 41.66667%; }
  .lg-gap-6 {
    margin-left: 50%; }
  .lg-gap-7 {
    margin-left: 58.33333%; }
  .lg-gap-8 {
    margin-left: 66.66667%; }
  .lg-gap-9 {
    margin-left: 75%; }
  .lg-gap-10 {
    margin-left: 83.33333%; }
  .lg-gap-11 {
    margin-left: 91.66667%; }
  .lg-gap-12 {
    margin-left: 100%; } }

@media only screen and (min-width: 60rem) {
  .xlg-1, .xlg-2, .xlg-3,
  .xlg-4, .xlg-5, .xlg-6,
  .xlg-7, .xlg-8, .xlg-9,
  .xlg-10, .xlg-11, .xlg-12,
  [class*=xlg-gap] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem; }
  .xlg {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    max-width: 100%; }
    .xlg_start {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      text-align: start; }
    .xlg_center {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center; }
    .xlg_end {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      text-align: end; }
    .xlg_top {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .xlg_middle {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .xlg_bottom {
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
    .xlg_around {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
    .xlg_between {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .xlg_first {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1; }
    .xlg_last {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
  .xlg-1 {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .xlg-2 {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .xlg-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%; }
  .xlg-4 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .xlg-5 {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .xlg-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%; }
  .xlg-7 {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .xlg-8 {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .xlg-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%; }
  .xlg-10 {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .xlg-11 {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .xlg-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%; }
  .xlg-gap-0 {
    margin-left: 0; }
  .xlg-gap-1 {
    margin-left: 8.33333%; }
  .xlg-gap-2 {
    margin-left: 16.66667%; }
  .xlg-gap-3 {
    margin-left: 25%; }
  .xlg-gap-4 {
    margin-left: 33.33333%; }
  .xlg-gap-5 {
    margin-left: 41.66667%; }
  .xlg-gap-6 {
    margin-left: 50%; }
  .xlg-gap-7 {
    margin-left: 58.33333%; }
  .xlg-gap-8 {
    margin-left: 66.66667%; }
  .xlg-gap-9 {
    margin-left: 75%; }
  .xlg-gap-10 {
    margin-left: 83.33333%; }
  .xlg-gap-11 {
    margin-left: 91.66667%; }
  .xlg-gap-12 {
    margin-left: 100%; } }

@media only screen and (max-width: 30rem) {
  .xs_hidden {
    display: none; }
  .xs_visible {
    display: block; }
  .xs-align--center {
    text-align: center; }
  .xs-align--right {
    text-align: right; }
  .xs-align--left {
    text-align: left; } }

@media only screen and (min-width: 481px) and (max-width: 40rem) {
  .sm_hidden {
    display: none; }
  .sm_visible {
    display: block; }
  .sm-align--center {
    text-align: center; }
  .sm-align--right {
    text-align: right; }
  .sm-align--left {
    text-align: left; } }

@media only screen and (min-width: 641px) and (max-width: 48rem) {
  .md_hidden {
    display: none; }
  .md_visible {
    display: block; }
  .md-align--center {
    text-align: center; }
  .md-align--right {
    text-align: right; }
  .md-align--left {
    text-align: left; } }

@media only screen and (min-width: 769px) and (max-width: 60rem) {
  .lg_hidden {
    display: none; }
  .lg_visible {
    display: block; }
  .lg-align--center {
    text-align: center; }
  .lg-align--right {
    text-align: right; }
  .lg-align--left {
    text-align: left; } }

@media only screen and (min-width: 993px) {
  .xlg_hidden {
    display: none; }
  .xlg_visible {
    display: block; }
  .xlg-align--center {
    text-align: center; }
  .xlg-align--right {
    text-align: right; }
  .xlg-align--left {
    text-align: left; } }

/* END flexbox grid */
/* BEGIN sticky footer */
.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.page-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

/* END sticky footer */
/* BEGIN header */
.header {
  z-index: 100500;
  height: auto; }
  .header-top {
    background-color: #f0f1f3;
    background-color: #08608c;
    font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.125rem;
    line-height: 1;
    font-weight: 400;
    font-size: 0.9375rem;
    color: #acacac;
    color: #fff;
    width: 100%; }
    .header-top .container {
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem; }
    .header-top .icon {
      fill: #fff; }
    .header-top .header__link:hover {
      color: #fff;
      opacity: 0.8; }
      .header-top .header__link:hover .icon {
        fill: #fff;
        opacity: 0.8; }
  .header-btm {
    background-color: #fff;
    width: 100%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15); }
  .header__link {
    margin-right: 1.875rem;
    letter-spacing: 0.5px; }
    .header__link:hover {
      color: #0199e6; }
      .header__link:hover .icon {
        fill: #0199e6; }
    .header__link:last-child {
      margin-right: 0; }
    @media only screen and (max-width: 41.25rem) {
      .header__link {
        margin: 0 10px; }
        .header__link:first-child, .header__link:last-child {
          margin: 0 10px; }
        .header__link span {
          display: none; } }
  .header--white {
    background-color: #fff; }
  .header--gray {
    background-color: #f0f1f3; }

/* END header */
.main {
  padding-top: 6.875rem; }

/* BEGIN heading */
.heading {
  font-weight: 300;
  line-height: 1; }
  .heading-group--1 {
    height: 3.25rem;
    width: 100%;
    display: table;
    margin-top: 1.875rem;
    margin-bottom: 1.5625rem;
    margin-top: 0.625rem;
    margin-bottom: 0.9375rem; }
    .heading-group--1 .heading {
      display: table-cell;
      vertical-align: middle; }
  .heading--bd, .heading--center, .heading--2 {
    position: relative; }
    .heading--bd::before, .heading--center::before, .heading--2::before, .text--4::before {
      content: " ";
      display: block;
      width: 100px;
      height: 2px;
      background-image: -webkit-gradient(linear, right top, left top, from(#acacac), to(transparent));
      background-image: -webkit-linear-gradient(right, #acacac, transparent);
      background-image: linear-gradient(-90deg, #acacac, transparent);
      margin-bottom: 0.625rem; }
  .heading--center {
    text-align: center; }
    .heading--center::before {
      margin-left: auto;
      margin-right: auto; }
  .heading--1 {
    font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 3.375rem;
    line-height: 1.35;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px; }
    @media only screen and (max-width: 40rem) {
      .heading--1 {
        font-size: 2.5rem;
        line-height: 1.4;
        text-align: center; } }
    @media only screen and (max-width: 30rem) {
      .heading--1 {
        font-size: 1.875rem; } }
  .heading--2 {
    font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 3.75rem;
    line-height: 0.9;
    font-weight: 400;
    font-weight: 100;
    color: #0199e6; }
    @media only screen and (max-width: 40rem) {
      .heading--2 {
        font-size: 2.25rem;
        text-align: center;
        display: block; } }
  .heading--3 {
    font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 600;
    color: #383c3f; }
    @media only screen and (max-width: 40rem) {
      .heading--3 {
        text-align: center; } }
  .heading--4 {
    font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 600;
    line-height: 1.35rem;
    color: #383c3f; }
  .heading--5 {
    font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 2.25rem;
    line-height: 0.83;
    font-weight: 400; }
    @media only screen and (max-width: 40rem) {
      .heading--5 {
        text-align: center;
        font-size: 1.875rem; } }
  .heading--6 {
    font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 2.25rem;
    line-height: 1;
    font-weight: 300; }

/* END heading */
/* BEGIN text */
.text--center {
  text-align: center; }

.text--right {
  text-align: right; }

.text--left {
  text-align: left; }

.text--color {
  color: #0199e6; }

.text--1 {
  color: #a6a6a6;
  color: #999; }
  @media only screen and (max-width: 40rem) {
    .text--1 {
      text-align: center; } }

.text--2 {
  font-size: 1rem;
  font-size: 0.9375rem;
  line-height: 1.35;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  color: #777; }

.text--3 {
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 300;
  color: #383c3f;
  padding-bottom: 1.875rem; }

.text--4 {
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.875rem;
  line-height: 1.1;
  font-weight: 300;
  color: #383c3f;
  position: relative; }
  .text--4::before {
    content: " ";
    margin-left: auto;
    margin-right: auto; }
  @media only screen and (max-width: 40rem) {
    .text--4 {
      font-size: 1.625rem; } }

.text--5 {
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.875rem;
  line-height: 1.28;
  font-weight: 400;
  line-height: 1.35;
  color: #a6a6a6; }

.text--6 {
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: 400;
  color: #383c3f; }

.text--7 {
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  color: #383c3f; }

.text--8 {
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.875rem;
  line-height: 1.28;
  font-weight: 300;
  color: #a6a6a6; }

.text--price {
  color: #0199e6;
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 1.25rem;
  font-size: 1.65rem;
  line-height: 1; }
  .text--price2 {
    font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 3rem;
    line-height: 1;
    font-weight: 300;
    color: #0199e6; }

.text--hero, .text--1 {
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 300;
  line-height: 1.25;
  opacity: 0.8; }
  @media only screen and (max-width: 40rem) {
    .text--hero, .text--1 {
      font-size: 1.25rem; } }

.text--testimonials {
  text-align: center;
  margin-bottom: 1.875rem; }

.text--date-article {
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  line-height: 3.89;
  font-weight: 600;
  text-transform: uppercase; }

/* END text */
/* BEGIN link */
.link {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-bottom: 1px dotted transparent;
  position: relative; }
  .link:hover {
    color: #0199e6;
    border-bottom-color: #0199e6; }
  .link--block {
    display: block; }
  .link--main {
    color: #0199e6;
    letter-spacing: 0.05rem;
    border-bottom: 1px solid #0199e6;
    font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.125rem;
    line-height: 1;
    font-weight: 600; }
    .link--main:hover {
      color: #000;
      border-bottom-color: transparent; }

/* END link */
.contact__link {
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 1.25rem;
  white-space: nowrap; }

/* BEGIN btn */
.btn, .btn--block, .btn--bg, .btn--bd, .btn--main, .btn--bd2 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  border: none;
  padding: 5px 10px;
  letter-spacing: 0.05rem; }
  .btn-group .btn, .btn-group .btn--block, .btn-group .btn--bg, .btn-group .btn--bd, .btn-group .btn--main, .btn-group .btn--bd2 {
    margin-right: 1.5625rem; }
    .btn-group .btn:last-child, .btn-group .btn--block:last-child, .btn-group .btn--bg:last-child, .btn-group .btn--bd:last-child, .btn-group .btn--main:last-child, .btn-group .btn--bd2:last-child {
      margin-right: 0; }
    @media only screen and (max-width: 40rem) {
      .btn-group .btn, .btn-group .btn--block, .btn-group .btn--bg, .btn-group .btn--bd, .btn-group .btn--main, .btn-group .btn--bd2 {
        margin-bottom: 1.25rem;
        margin-right: auto !important;
        margin-left: auto !important;
        display: block;
        width: 100%; } }
  .btn--icon::after {
    content: "\f178";
    font-family: "FontAwesome";
    margin-left: 10px;
    display: inline-block; }
  .btn--block {
    display: block;
    max-width: 16.75rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .btn--bg, .btn--bd, .btn--main, .btn--bd2 {
    border-radius: 0.3125rem;
    border: 1.5px solid transparent;
    font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.125rem;
    line-height: 1;
    font-weight: 600;
    padding: 0;
    position: relative;
    max-width: 16.75rem;
    width: 90%;
    padding: 1.125rem 0; }
    .btn--bg:hover, .btn--bd:hover, .btn--main:hover, .btn--bd2:hover {
      -webkit-transform: translateY(-4px);
          -ms-transform: translateY(-4px);
              transform: translateY(-4px); }
  .btn--bg {
    -webkit-box-shadow: -15px 15px 25px 5px rgba(0, 0, 0, 0.15);
            box-shadow: -15px 15px 25px 5px rgba(0, 0, 0, 0.15); }
  .btn--bd {
    border: 1.5px solid inherit; }
    .btn--bd2 {
      border-color: #0199e6;
      color: #0199e6; }
      .btn--bd2:hover {
        background-color: #0199e6;
        color: #fff; }
  .btn--main {
    background-color: #0199e6;
    -webkit-box-shadow: 0 2px 0 0 #016da5, 5px 10px 20px 1px #ccc;
            box-shadow: 0 2px 0 0 #016da5, 5px 10px 20px 1px #ccc;
    color: #fff; }
    .btn--main:hover {
      background-color: transparent;
      color: #0199e6;
      border-color: #0199e6;
      -webkit-box-shadow: 0 0 0 0 transparent;
              box-shadow: 0 0 0 0 transparent; }

/* END btn */
/* BEGIN icon */
.icon {
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  background-size: contain; }
  .icon--1, .icon--4 {
    width: 1.5625rem;
    height: 1.5625rem;
    margin-right: 5px;
    fill: #acacac; }
  .icon--2 {
    width: 3.125rem;
    height: 3.125rem; }
  .icon--3 {
    width: 1.875rem;
    height: 1.875rem;
    fill: #acacac;
    position: absolute;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .icon--4 {
    fill: #0199e6; }
  .icon--5 {
    fill: #acacac;
    width: 100%;
    width: 7.5rem;
    height: 5rem; }
  .icon--6 {
    color: #acacac;
    font-size: 0.625rem;
    margin-left: 5px;
    margin-right: 5px; }
    @media only screen and (max-width: 40rem) {
      .icon--6 {
        display: none; } }
  .icon--figure1 {
    display: block;
    max-width: 3.75rem;
    width: 100%;
    height: 3.4375rem;
    margin: 0;
    background-color: aliceblue;
    padding: 0.9375rem;
    max-width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%; }
    @media only screen and (max-width: 40rem) {
      .icon--figure1 {
        margin: auto; } }

/* END icon */
/* BEGIN logo */
.logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer; }
  .logo--header {
    width: 6.875rem;
    height: 4.0625rem;
    background-image: url(../img/logo.png);
    margin: 0.3125rem 1.875rem; }
  .logo--footer {
    width: 10.75rem;
    height: 6.4375rem;
    background-image: url(../img/logo-f.png); }
    @media only screen and (max-width: 40rem) {
      .logo--footer {
        margin-bottom: 0.9375rem; } }
  .logo--company {
    width: 10.625rem;
    height: 4.6875rem;
    background-image: url(../img/logo-interact-2.png);
    position: relative; }
    .logo--company::before {
      content: "Created by";
      font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      font-size: 0.875rem;
      line-height: 1.25;
      font-weight: 300;
      color: #a6a6a6; }

/* END logo */
/* BEGIN form */
.form {
  max-width: 25.375rem;
  max-height: 29.1875rem;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 4.0625rem;
  padding: 2.5rem 1.5625rem; }
  .form--1 {
    max-width: 25.375rem;
    max-height: 29.1875rem; }
  .form .btn, .form .btn--block, .form .btn--bg, .form .btn--bd, .form .btn--main, .form .btn--bd2 {
    max-width: 100%;
    width: 100%; }

/* END form */
/* BEGIN input */
.input::-moz-placeholder {
  color: #fff;
  opacity: 1; }

.input:-moz-placeholder {
  color: #fff; }

.input:-ms-input-placeholder {
  color: #fff; }

.input::-webkit-input-placeholder {
  color: #fff; }

.input__select--1 {
  border-bottom-color: #f0f1f3; }

.field--1 {
  display: block;
  margin: 0 auto;
  margin-left: 0.625rem;
  background: transparent;
  border: none;
  border-bottom: 1.5px solid #fff;
  width: -webkit-calc(100% - 50px - 10px);
  width: calc(100% - 50px - 10px); }

.field--2 {
  display: block;
  width: 100%;
  margin-bottom: 1.25rem;
  resize: none;
  padding: 0.9375rem;
  padding-left: 3.3125rem;
  border-radius: 1.5625rem;
  background-color: #fff;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2); }
  .field--2::-moz-placeholder {
    color: #acacac;
    opacity: 1; }
  .field--2:-moz-placeholder {
    color: #acacac; }
  .field--2:-ms-input-placeholder {
    color: #acacac; }
  .field--2::-webkit-input-placeholder {
    color: #acacac; }

.field--3 {
  max-width: 9.375rem;
  padding: 0.625rem 0.9375rem;
  border: none;
  border-radius: 1.25rem;
  -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2); }
  .field--3::-moz-placeholder {
    color: #acacac;
    opacity: 1; }
  .field--3:-moz-placeholder {
    color: #acacac; }
  .field--3:-ms-input-placeholder {
    color: #acacac; }
  .field--3::-webkit-input-placeholder {
    color: #acacac; }
  @media only screen and (max-width: 40rem) {
    .field--3 {
      display: block;
      margin: 0rem auto 0.9375rem; }
      .field--3:last-child {
        margin-bottom: 0; } }

.field-group--1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: nowrap;
      -ms-flex-direction: nowrap;
          flex-direction: nowrap;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 52.5rem) {
    .field-group--1 {
      margin-bottom: 1.875rem; } }

.field-group--2 {
  position: relative; }

.field__checkbox--1 {
  display: none; }

.field__label--1 {
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 400;
  color: #383c3f;
  margin-right: 1.25rem; }
  .field__label--1:last-child {
    margin-right: 0; }
  @media only screen and (max-width: 40rem) {
    .field__label--1 {
      display: block;
      margin-bottom: 1.25rem;
      text-align: left; } }

[type="checkbox"]:not(:checked) + .field__label--1,
[type="checkbox"]:checked + .field__label--1 {
  position: relative;
  padding-left: 1.875rem;
  cursor: pointer; }
  [type="checkbox"]:not(:checked) + .field__label--1:hover::before,
  [type="checkbox"]:checked + .field__label--1:hover::before {
    border-color: #0199e6; }

[type="checkbox"]:checked + .field__label--1::before,
[type="checkbox"]:not(:checked) + .field__label--1::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25rem;
  height: 1.25rem;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 3px; }

[type="checkbox"]:checked + .field__label--1::after,
[type="checkbox"]:not(:checked) + .field__label--1::after {
  content: '\2713';
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 0.8;
  color: #0199e6;
  -webkit-transition: all .2s;
  transition: all .2s; }

[type="checkbox"]:not(:checked) + .field__label--1:after {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0); }

textarea.field--2 {
  border-radius: 5px; }

/* END input */
/* BEGIN soc */
.soc__icon {
  display: block;
  width: 3.125rem;
  height: 3.125rem;
  margin-bottom: 1.5625rem; }
  .soc__icon:last-cgild {
    margin-bottom: 0; }
  @media only screen and (max-width: 40rem) {
    .soc__icon {
      display: inline-block;
      margin-right: 1.5625rem; } }

/* END soc */
/* BEGIN to top btn */
.no-touch .btn-top:hover {
  border-radius: 50%;
  opacity: 1; }

.btn-top {
  position: fixed;
  bottom: 40px;
  right: 10px;
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 100501;
  background-color: #0177b3;
  text-align: center; }
  .btn-top::before {
    content: "\f062";
    font-family: "FontAwesome";
    font-size: 1.25rem;
    color: #fff; }

.btn--fade-out {
  opacity: 0.5; }

.btn--is-visible {
  visibility: visible;
  opacity: 1; }

/* END to top btn */
/* BEGIN dots */
.dotts {
  display: block;
  cursor: pointer; }
  .dotts i {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 5px;
    border-radius: 50%;
    background-color: #acacac; }
  .dotts.active i {
    background-color: #0199e6; }

/* END dots */
/* BEGIN comboselect */
.comboselect {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25rem;
  width: 100%;
  vertical-align: middle;
  text-align: left;
  user-comboselect: none;
  -webkit-touch-callout: none;
  background-color: #fff; }
  .comboselect__placeholder {
    position: relative;
    display: block;
    z-index: 1;
    border-radius: 2px;
    cursor: pointer;
    font-size: 13px;
    color: #656e7f;
    font-weight: 300;
    border-bottom: 1px solid #d4d7dc;
    padding: 10px;
    padding-left: 0; }
    .comboselect__placeholder::after {
      content: '\f107';
      font-family: "FontAwesome";
      position: absolute;
      right: 5px;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      z-index: 10; }
  .comboselect-dropdown {
    display: none;
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 100;
    max-height: 150px;
    background-color: #fff;
    font-size: 13px;
    font-family: Arial;
    border: 1px solid #d4d7dc;
    color: #656e7f; }
    .comboselect-dropdown::-webkit-scrollbar {
      height: 0px;
      width: 0px; }
    .comboselect-dropdown::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px; }
    .comboselect-dropdown::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
    .comboselect-dropdown li {
      display: block;
      text-align: left;
      padding: 0.8em 1em 0.8em 1em;
      cursor: pointer;
      border-bottom: 1px solid #f0f1f3; }
      .comboselect-dropdown li:hover {
        color: #0199e6;
        background-color: #b4e6ff; }
  .comboselect--open {
    border-color: #0199e6 !important; }
    .comboselect--open .comboselect__placeholder::after {
      -webkit-transform: rotate(180deg) translateY(50%);
          -ms-transform: rotate(180deg) translateY(50%);
              transform: rotate(180deg) translateY(50%); }
    .comboselect--open .comboselect-dropdown {
      display: block; }

/* END comboselect */
.owl-nav.disabled + .owl-dots {
  margin-top: 10px;
  text-align: center; }

.owl-dots .owl-dot {
  display: inline-block;
  zoom: 1; }

.owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #acacac;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  border-radius: 30px; }

.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
  background: #0199e6; }

/* BEGIN gallery */
#gallery-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 100500; }

#gallery-overlay .holder {
  max-width: 600px;
  margin: 0 auto;
  position: relative; }

#gallery-overlay .holder img {
  width: 100%;
  max-width: 600px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block; }

#gallery-overlay .holder p {
  color: white;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px; }

#gallery-overlay .holder .gallery-nav {
  max-width: 600px;
  margin: 0 auto;
  font-size: 14px; }

#gallery-overlay .holder .gallery-nav a {
  color: white;
  opacity: 0.3;
  -webkit-user-select: none;
  cursor: pointer; }

#gallery-overlay .holder .gallery-nav a:hover {
  opacity: 1; }

#gallery-overlay .holder .gallery-nav #next, #gallery-overlay .holder .gallery-nav #prev {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 10px;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 40px;
  color: #ffc107; }

#gallery-overlay .holder .gallery-nav #next span, #gallery-overlay .holder .gallery-nav #prev span {
  top: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  position: relative; }

#gallery-overlay .holder .gallery-nav #next {
  right: 0;
  text-align: right; }

#gallery-overlay .holder .gallery-nav #prev {
  left: 0;
  text-align: left; }

#gallery-overlay .holder .gallery-nav #close {
  right: 10px;
  top: 5px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 30px;
  font-family: "FontAwesome";
  opacity: 0.6;
  z-index: 1000000;
  position: absolute;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  background: #ffc107;
  border-radius: 50%; }

#gallery-overlay .holder .gallery-nav #close:hover {
  opacity: 1; }

.gallery-photo {
  display: block;
  -webkit-box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0.9375rem;
  max-height: 30.9375rem;
  height: 100%;
  overflow: hidden; }
  .gallery-photo img {
    border-radius: 0.9375rem;
    display: block; }

.gallery-item {
  margin-bottom: 1.875rem; }

/* END gallery */
.row--section, .section {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem; }
  @media only screen and (max-width: 40rem) {
    .row--section, .section {
      padding-top: 3.125rem;
      padding-bottom: 3.125rem; } }

.row--0 {
  padding: 0 !important;
  margin: 0 !important; }

.row--1, .heading--1 {
  margin-bottom: 2.8125rem; }

.row--2, .text--hero, .text--1 {
  margin-bottom: 5.625rem; }
  @media only screen and (max-width: 40rem) {
    .row--2, .text--hero, .text--1 {
      margin-bottom: 2.8125rem; } }

.row--3, .heading--2 {
  margin-bottom: 1.875rem; }

.row--4, .heading--3 {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem; }

.row--5 {
  margin-bottom: 6.25rem;
  margin-bottom: 3.75rem;
  text-align: center; }
  .row--5 .icon {
    margin-left: auto;
    margin-right: auto; }

.row--6 {
  margin-bottom: 5.625rem;
  margin-bottom: 6.875rem; }
  @media only screen and (max-width: 40rem) {
    .row--6 {
      margin-bottom: 3.4375rem; } }

.row--7 {
  margin-top: 1.25rem; }

.row--8, .news__date {
  margin-bottom: 2.8125rem;
  margin-bottom: 0.9375rem; }
  @media only screen and (max-width: 40rem) {
    .row--8, .news__date {
      margin-bottom: 0.9375rem; } }

.row--9, .news__heading {
  margin-bottom: 2.5rem;
  margin-bottom: 1.5625rem; }
  @media only screen and (max-width: 40rem) {
    .row--9, .news__heading {
      margin-bottom: 1.25rem; } }

.row--10, .dotts {
  margin-top: 1.5625rem; }

.row--11, .news-item {
  margin-bottom: 5.3125rem; }
  @media only screen and (max-width: 40rem) {
    .row--11, .news-item {
      margin-bottom: 2.8125rem; } }

.row--12, .text--date-article {
  margin-bottom: 3.125rem; }

.row--13, .article1__heading, .article1__text {
  margin-bottom: 2.8125rem; }
  @media only screen and (max-width: 40rem) {
    .row--13, .article1__heading, .article1__text {
      margin-bottom: 1.5625rem; } }

.row--14, .article1 {
  margin-bottom: 6.25rem; }
  @media only screen and (max-width: 40rem) {
    .row--14, .article1 {
      margin-bottom: 3.125rem; } }

.row--15, .heading--5 {
  margin-bottom: 3.125rem; }

.row--16 {
  margin-bottom: 0.9375rem; }

.row--17:nth-child(odd) {
  margin-bottom: 6.25rem !important; }

@media only screen and (max-width: 40rem) {
  .row--17 {
    margin-bottom: 1.875rem !important; } }

.row--18 {
  margin-top: 4.6875rem;
  margin-bottom: -3.125rem; }

.row--19 {
  margin-top: 3.125rem; }

.row--20 {
  margin-top: 1.25rem; }

.row--21, .text--7 {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem; }

.row--22 {
  padding: 4.0625rem; }

.row--24 {
  margin-top: -12.5rem;
  z-index: 100500;
  padding: 0; }

.row--25 {
  padding-top: 1.25rem; }

.row--26, .text--8 {
  padding-bottom: 1.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem; }

.row--27 {
  margin-bottom: 2.5rem; }

.row--28, .text--price2 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.row--29 {
  padding: 3.75rem 2.5rem; }
  @media only screen and (max-width: 40rem) {
    .row--29 {
      padding: 1.875rem; } }

.row--30 {
  padding-top: 1.875rem;
  margin-top: 0.9375rem; }

.row--31 {
  margin-right: 0.9375rem; }
  @media only screen and (max-width: 40rem) {
    .row--31 {
      margin-right: auto; } }

.row--32 {
  margin-bottom: -18.75rem;
  z-index: 2 !important; }

.row--33 {
  padding-top: 15.625rem; }
  @media only screen and (max-width: 40rem) {
    .row--33 {
      padding-top: 18.625rem; } }

.row--34 {
  margin-top: -4.6875rem;
  margin-bottom: 6.25rem; }

.row--35 {
  padding-top: 0rem;
  padding-bottom: 0rem; }

@media only screen and (max-width: 31.25rem) {
  .logo--header {
    display: none; }
  .header-btm {
    height: auto !important; }
  .main {
    padding-top: 80px !important; }
  .menu-item {
    padding: 0 5px !important; }
    .menu-item .menu-item {
      padding: 5px 10px !important; } }

@media only screen and (max-width: 24rem) {
  .menu__link {
    font-size: 1rem !important;
    padding: 0 5px !important; } }

/* BEGIN menu */
.menu-item {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 1.25rem 0.9375rem; }
  .menu-item:hover .menu-sub {
    display: block; }

.menu__link {
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-transform: lowercase; }
  .menu__link--active, .menu__link:hover {
    color: #0199e6; }

.menu-sub {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border: 1px solid #fff;
  z-index: 100500;
  max-width: 10.9375rem;
  width: 100%;
  -webkit-box-shadow: 0 0 10px 1px #ccc;
          box-shadow: 0 0 10px 1px #ccc; }
  @media only screen and (max-width: 31.25rem) {
    .menu-sub {
      top: 1.875rem; } }
  .menu-sub .menu-item {
    display: block;
    padding: 0.625rem 0.9375rem;
    background-color: #fff; }
  .menu-sub .menu__link {
    margin-bottom: 1px;
    color: #000; }
    .menu-sub .menu__link:hover {
      color: #0199e6; }

/* END menu */
/* BEGIN section */
.section {
  position: relative;
  z-index: 1; }
  .section--hero, .section--hero-article, .section--hero-services {
    background-color: #0199e6;
    color: #fff;
    background-image: url(../img/bg-hero.jpg);
    background-size: cover;
    background-attachment: fixed; }
    .section--hero .btn--bg, .section--hero-article .btn--bg, .section--hero-services .btn--bg {
      background-color: #fff;
      color: #0199e6; }
      .section--hero .btn--bg:hover, .section--hero-article .btn--bg:hover, .section--hero-services .btn--bg:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border-color: #fff;
        color: #fff; }
    .section--hero .btn--bd, .section--hero-article .btn--bd, .section--hero-services .btn--bd {
      border-color: #fff;
      color: #fff; }
      .section--hero .btn--bd:hover, .section--hero-article .btn--bd:hover, .section--hero-services .btn--bd:hover {
        background-color: rgba(255, 255, 255, 0.2); }
    .section--hero .icon, .section--hero-article .icon, .section--hero-services .icon {
      fill: #fff; }
    .section--hero::after, .section--hero-article::after, .section--hero-services::after {
      content: " ";
      background-color: rgba(0, 0, 0, 0.5); }
    @media only screen and (max-width: 40rem) {
      .section--hero, .section--hero-article, .section--hero-services {
        background-image: none;
        background-color: #0199e6; } }
    .section--hero-article {
      background-image: url(../img/bg-hero-article.jpg);
      padding: 0; }
    .section--hero-services {
      background-color: #fff;
      color: #0199e6;
      color: #383c3f;
      background-image: url(../img/bg-hero-services.jpg); }
      .section--hero-services .btn--bg {
        background-color: #fff;
        color: #0199e6; }
      .section--hero-services .icon {
        fill: #0199e6; }
      .section--hero-services .icon {
        fill: #383c3f; }
      .section--hero-services::after {
        content: normal; }

/* END section */
/* BEGIN figure */
.figure-wrap--2 {
  background-color: #fff;
  border-radius: 0.3125rem;
  -webkit-box-shadow: 0 2px 30px -3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 30px -3px rgba(0, 0, 0, 0.15);
  margin-bottom: 1.875rem; }
  .figure-wrap--2:hover {
    -webkit-box-shadow: 0 2px 30px -3px rgba(0, 0, 0, 0.25);
            box-shadow: 0 2px 30px -3px rgba(0, 0, 0, 0.25); }

.figure-content {
  padding: 1.5625rem; }

/* END figure */
/* BEGIN list */
.list--1 {
  margin: -2.5rem auto 3.125rem;
  margin-left: 3.125rem; }
  @media only screen and (max-width: 40rem) {
    .list--1 {
      margin-left: 0;
      margin-top: 0; } }

.list__item--1 {
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
  position: relative;
  margin-bottom: 0.9375rem;
  padding-left: 2.5rem; }
  .list__item--1::before {
    content: "";
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url(../icon/check.svg);
    margin-right: 0.625rem;
    width: 1.8125rem;
    height: 1.4375rem; }

/* END list */
/* BEGIN footer */
.footer {
  background-color: #0199e6;
  color: #fff;
  background-color: #000;
  padding: 1.25rem 0; }
  .footer .btn--bg {
    background-color: #fff;
    color: #0199e6; }
    .footer .btn--bg:hover {
      background-color: rgba(255, 255, 255, 0.2);
      border-color: #fff;
      color: #fff; }
  .footer .btn--bd {
    border-color: #fff;
    color: #fff; }
    .footer .btn--bd:hover {
      background-color: rgba(255, 255, 255, 0.2); }
  .footer .icon {
    fill: #fff; }
  .footer__link, .footer .text--copyright {
    opacity: 0.8;
    margin: 5px 10px; }
    .footer__link:hover, .footer .text--copyright:hover {
      opacity: 1; }
    @media only screen and (max-width: 40rem) {
      .footer__link, .footer .text--copyright {
        margin: 10px; }
        .footer__link span, .footer .text--copyright span {
          display: none; } }

/* END footer */
/* BEGIN news */
.news__heading {
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  color: #0199e6; }
  @media only screen and (max-width: 40rem) {
    .news__heading {
      font-size: 1.25rem; } }

.news__text {
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  color: #383c3f; }

.news__date {
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  line-height: 1.125;
  font-weight: 100;
  color: #a6a6a6; }

/* END news */
/* BEGIN article */
.article1:last-child {
  margin: 0; }

.article1__heading {
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  line-height: 1.67;
  font-weight: 600; }

.article1__text {
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.875;
  font-weight: 300; }
  .article1__text:last-child {
    margin-bottom: 0; }
  @media only screen and (max-width: 40rem) {
    .article1__text {
      line-height: 1.5;
      font-size: 0.9rem; } }

/* END article */
/* BEGIN img */
.img-wrap, .img-wrap--round, .img-wrap--round2 {
  display: block;
  width: 100%;
  position: relative; }
  .img-wrap img, .img-wrap--round img, .img-wrap--round2 img {
    width: 100%;
    display: block;
    margin: 0;
    object-fit: cover; }
  .img-wrap--round {
    height: 10.875rem; }
    .img-wrap--round img {
      border-radius: 0.3125rem;
      height: 10.625rem; }
  .img-wrap--round2 {
    height: 16.25rem;
    border-radius: 0.3125rem 0.3125rem 0 0;
    overflow: hidden; }
    .img-wrap--round2 img {
      height: 100%; }
  .img-wrap--partner {
    height: 6.25rem;
    margin: 1.875rem auto 1.875rem;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    .img-wrap--partner:hover {
      filter: grayscale(0);
      -webkit-filter: grayscale(0);
      -webkit-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
              transform: translateY(-5px); }

.img--abs1 {
  position: absolute;
  max-width: 31.25rem;
  top: -35%; }

/* END img */
