/* BEGIN btn */
.btn
	user-select: none
	cursor: pointer
	text-align: center
	white-space: nowrap
	display: inline-block
	vertical-align: middle
	transition: all 300ms ease-in
	border: none
	padding: 5px 10px
	letter-spacing: 0.05rem
	&-group
		.btn
			margin-right: rem(25)
			&:last-child
				margin-right: 0
			@media only screen and (max-width: $sm)
				margin-bottom: rem(20)
				margin-right: auto !important
				margin-left: auto !important
				display: block
				width: 100%
	&--icon
		&::after
			content: "\f178"
			font-family: $FA
			margin-left: 10px
			display: inline-block
	&--block
		@extend .btn
		display: block
		max-width: rem(268)
		width: 100%
		margin-left: auto
		margin-right: auto
	&--bg, &--bd, &--main, &--bd2
		@extend .btn
		@extend .trs
		//border-radius: rem(15)
		border-radius: rem(5)
		border: 1.5px solid transparent
		+font(18, $fz, 600)
		padding: 0
		position: relative
		max-width: rem(268)
		width: 90%
		//height: rem(60)
		//line-height: rem(60)
		padding: rem(18) 0
		&:hover
			transform: translateY(-4px)
	&--bg
		box-shadow: -15px 15px 25px 5px rgba($black, 0.15)
	&--bd
		border: 1.5px solid inherit
		&2
			border-color: $main
			color: $main
			&:hover
				background-color: $main
				color: $white
	&--main
		background-color: $main
		box-shadow: 0 2px 0 0 $blue2, 5px 10px 20px 1px $grey
		color: $white
		&:hover
			background-color: transparent
			color: $main
			border-color: $main
			box-shadow: 0 0 0 0 transparent

/* END btn */

/* BEGIN icon */
.icon
	display: inline-block
	vertical-align: middle
	user-select: none
	cursor: pointer
	background-size: contain
	&--1
		width: rem(25)
		height: rem(25)
		margin-right: 5px
		fill: $greyText1
	&--2
		width: rem(50)
		height: rem(50)
	&--3
		width: rem(30) //35
		height: rem(30) //35
		fill: $greyText1
		position: absolute
		left: 10px
		top: 50%
		transform: translateY(-50%)
	&--4
		@extend .icon--1
		fill: $main
	&--5
		fill: $greyText1
		width: 100%
		width: rem(120)
		height: rem(80)
	&--6
		color: $greyText1
		font-size: rem(10)
		margin-left: 5px
		margin-right: 5px
		@media only screen and (max-width: $sm)
			display: none
	&--figure1
		display: block
		max-width: rem(60)	
		width: 100%
		height: rem(55)
		margin: 0

		background-color: aliceblue
		padding: rem(15)
		max-width: rem(150)
		height: rem(150)
		border-radius: 50%
		@media only screen and (max-width: $sm)
			margin: auto
	
/* END icon */


/* BEGIN logo */
.logo
	user-select: none
	cursor: pointer
	&--header
		@extend .bgi
		width: rem(110)
		height: rem(65)
		background-image: url(../img/logo.png)
		margin: rem(5) rem(30)
	&--footer
		@extend .bgi
		width: rem(172)
		height: rem(103)
		background-image: url(../img/logo-f.png)
		@media only screen and (max-width: $sm)
			margin-bottom: rem(15)

	&--company
		@extend .bgi
		width: rem(170)
		height: rem(75)
		background-image: url(../img/logo-interact-2.png)
		position: relative
		&::before
			content: "Created by"
			+font(14, 20, 300)
			color: $greyText3
/* END logo */


/* BEGIN form */
.form
	&--1
		max-width: rem(406)
		max-height: rem(467)
		@extend .bg--overlay1
	.btn
		max-width: 100%
		width: 100%

	max-width: rem(406)
	max-height: rem(467)
	width: 100%
	height: 100%
	margin-left: auto
	margin-right: auto
	padding: rem(65)
	padding: rem(40) rem(25)
/* END form */

/* BEGIN input */
.input
	&::-moz-placeholder
		color: $white
		opacity: 1
	&:-moz-placeholder
		color: $white
	&:-ms-input-placeholder
		color: $white
	&::-webkit-input-placeholder
		color: $white
	&__select--1
		border-bottom-color: $greyLight
.field
	&--1
		display: block
		margin: 0 auto
		margin-left: rem(10)
		background: transparent
		border: none
		border-bottom: 1.5px solid $white
		width: calc(100% - 50px - 10px)
	&--2
		display: block
		width: 100%
		margin-bottom: rem(20)
		resize: none
		padding: rem(15)
		padding-left: rem(53)
		border-radius: rem(25)
		background-color: $white
		border: 1px solid transparent
		box-shadow: 0 2px 10px 0px rgba($black, 0.2) 
		&::-moz-placeholder
			color: $greyText1
			opacity: 1
		&:-moz-placeholder
			color: $greyText1
		&:-ms-input-placeholder
			color: $greyText1
		&::-webkit-input-placeholder
			color: $greyText1
	&--3
		max-width: rem(150)
		padding: rem(10) rem(15)
		border: none
		border-radius: rem(20)
		box-shadow: 0 2px 10px 0px rgba($black, 0.2)
		&::-moz-placeholder
			color: $greyText1
			opacity: 1
		&:-moz-placeholder
			color: $greyText1
		&:-ms-input-placeholder
			color: $greyText1
		&::-webkit-input-placeholder
			color: $greyText1
		@media only screen and (max-width: $sm)
			display: block
			margin: rem(0) auto rem(15)
			&:last-child
				margin-bottom: 0
	&-group
		&--1
			@extend .flex
			flex-direction: nowrap
			max-width: 100%
			margin-left: auto
			margin-right: auto
			@media only screen and (max-width: rem(840))
				margin-bottom: rem(30)
		&--2
			position: relative
	&__checkbox--1
		display: none
	&__label--1
		+font(18, $fz, 400)
		color: $greyText2
		margin-right: rem(20)
		&:last-child
			margin-right: 0
		@media only screen and (max-width: $sm)
			display: block
			margin-bottom: rem(20)
			text-align: left

[type="checkbox"]:not(:checked) + .field__label--1,
[type="checkbox"]:checked + .field__label--1
	position: relative
	padding-left: rem(30)
	cursor: pointer
	&:hover::before
		border-color: $main

[type="checkbox"]:checked + .field__label--1::before,
[type="checkbox"]:not(:checked) + .field__label--1::before
	content: ''
	position: absolute
	left: 0 
	top: 0
	width: 1.25rem 
	height: 1.25rem
	border: 1.5px solid rgba($black, 0.1)
	background: $white
	border-radius: 3px
	//box-shadow: inset 0 1px 3px 0 rgba($black,.1)

[type="checkbox"]:checked + .field__label--1::after,
[type="checkbox"]:not(:checked) + .field__label--1::after
	content: '\2713'
	position: absolute
	top: 3px
	left: 3px
	font-size: 1.3rem
	font-weight: 600
	line-height: 0.8
	color: $main
	transition: all .2s

[type="checkbox"]:not(:checked) + .field__label--1:after
	opacity: 0
	transform: scale(0)
	
textarea.field--2
	border-radius: 5px


/* END input */

/* BEGIN soc */
.soc
	&__icon
		display: block
		width: rem(50)
		height: rem(50)
		margin-bottom: rem(25)
		&:last-cgild
			margin-bottom: 0
		@media only screen and (max-width: $sm)
			display: inline-block
			margin-right: rem(25)
/* END soc */


/* BEGIN to top btn */
.no-touch .btn-top
	&:hover
		border-radius: 50%
		opacity: 1
.btn
	&-top
		position: fixed
		bottom: 40px
		right: 10px
		display: inline-block
		height: 40px
		width: 40px
		line-height: 40px
		overflow: hidden
		white-space: nowrap
		visibility: hidden
		opacity: 0
		transition: all 0.3s
		z-index: 100501
		background-color: darken($main, 10%)
		text-align: center
		&::before
			content: "\f062"
			font-family: $FA
			font-size: rem(20)
			color: $white
	&--fade-out
		opacity: 0.5

	&--is-visible
		visibility: visible
		opacity: 1
/* END to top btn */

/* BEGIN dots */
.dotts
	@extend .row--10
	display: block
	cursor: pointer
	i
		display: inline-block
		width: 8px
		height: 8px
		margin: 5px
		border-radius: 50%
		background-color: $greyText1
	&.active i
		background-color: $main
/* END dots