//Colors
$black: #000
$white: #fff

$blue: #0199e6
$blue2: #016da5
$blue3: #08608c

$grey: #ccc
$greyLight: #f0f1f3
$greyLight2: #f5f6f7
$greyLight3: #f6f7f8

$greyText1: #acacac
$greyText2: #383c3f
$greyText3: #a6a6a6


$main: $blue
$teme: $white
$white: $white

@function rem($px)
	@return ($px/$fz) + rem

=theme($theme)
	@if $theme == $teme or $main or $white
		@if $theme == $teme
			background-color: $teme
			color: $main
			.btn--bg
				background-color: $teme 
				color: $main
			.icon
				fill: $main
	
		@if $theme == $main
			background-color: $main
			color: $teme
			.btn--bg
				background-color: $teme
				color: $main
				&:hover
					background-color: rgba($white, 0.2)
					border-color: $teme
					color: $teme
			.btn--bd
				border-color: $teme
				color: $teme
				&:hover
					background-color: rgba($white, 0.2)
			.icon
				fill: $teme
		
		@if $theme == $white
			color: $greyText2
			.icon
				fill: $greyText2
	@else 
		color: inherit

$EX: 'Exo 2'
$FA: 'FontAwesome'
$fz: 16
\:root
	font-size: $fz + px

=font($font-size, $line-height: $fz*1.5, $font-weight: 300, $font-family: $EX)
	font-family: $font-family, -apple-system, BlinkMacSystemFont, "Roboto", "Roboto Condensed", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
	font-size: $font-size/$fz + rem
	line-height: $line-height/$fz
	font-weight: $font-weight

html
	text-size-adjust: 100%
	text-rendering: optimizeLegibility
	text-overflow: ellipsis
	font-variant: normal
	font-family: sans-serif
	font-size: 16px


body
	font-family: sans-serif
	font-smoothing: antialiased
	+font($fz, 24, 300, $EX)


.bgi
	display: inline-block
	vertical-align: middle
	background-repeat: no-repeat
	background-position: 50%
	background-size: contain

.bg
	&--fh
		min-height: rem(640)
		height: calc(100% - 140px)		
		width: 100%
	&--overlay1
		background-color: rgba($white, 0.26)
		border: 1px solid rgba($white, 0.3)
		border-radius: rem(15)
		border-radius: rem(5)
	&--img1
		position: relative
		&::after
			content: " "
			@extend .abs
			@extend .bgi
			background-image: url(../img/bg1.png)
			background-position: 0 0
			background-size: cover
			left: -100px
			top: -100px
			max-width: rem(600) !important
			width: 100% !important
			height: 400px !important
	&--white
		background-color: $white
		border: 1px solid $white
		border-radius: rem(15)
		box-shadow: 0 5px 20px 1px rgba($black, 0.2)
	&--gray
		background-color: $greyLight2
	&--gray1
		background-color: $greyLight3
	&--gray2
		background-color: #f1f1f1
	&--grad1
		position: relative
		&::after
			content: " "
			@extend .abs
			top: 0
			left: 0
			background: linear-gradient(0deg, rgba($white, 0.8), transparent)
			z-index: 1 !important 
	&--main
		+theme($main)
		border-radius: rem(15)
		box-shadow: -4px 10px 20px -2px rgba($black, 0.2), 0 2px 0 0 #03A9F4
		padding: rem(30) 0
		margin: rem(50) auto rem(30)
	&--round
		border-top-left-radius: 15% 
		border-top-right-radius: 15% 
