/* BEGIN gallery */
#gallery-overlay
  display: none
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  background: rgba(0, 0, 0, 0.9)
  text-align: center
  padding: 20px
  box-sizing: border-box
  z-index: 100500

#gallery-overlay .holder
  max-width: 600px
  margin: 0 auto
  position: relative

#gallery-overlay .holder img
  width: 100%
  max-width: 600px
  cursor: pointer
  box-sizing: border-box
  display: block

#gallery-overlay .holder p
  color: white
  margin: 0
  background-color: rgba(0, 0, 0, 0.4)
  position: absolute
  bottom: 0
  left: 0
  right: 0
  box-sizing: border-box
  padding: 10px

#gallery-overlay .holder .gallery-nav
  max-width: 600px
  margin: 0 auto
  font-size: 14px

#gallery-overlay .holder .gallery-nav a
  color: white
  opacity: 0.3
  -webkit-user-select: none
  cursor: pointer

#gallery-overlay .holder .gallery-nav a:hover
  opacity: 1

#gallery-overlay .holder .gallery-nav #next, #gallery-overlay .holder .gallery-nav #prev
  position: absolute
  top: 0
  bottom: 0
  padding: 10px
  width: 50%
  box-sizing: border-box
  font-size: 40px
  color: #ffc107

#gallery-overlay .holder .gallery-nav #next span, #gallery-overlay .holder .gallery-nav #prev span
  top: 50%
  -webkit-transform: translateY(50%)
  -ms-transform: translateY(50%)
  transform: translateY(50%)
  position: relative

#gallery-overlay .holder .gallery-nav #next
  right: 0
  text-align: right

#gallery-overlay .holder .gallery-nav #prev
  left: 0
  text-align: left

#gallery-overlay .holder .gallery-nav #close
  right: 10px
  top: 5px
  width: 35px
  height: 35px
  line-height: 35px
  font-size: 30px
  font-family: $FA
  opacity: 0.6
  z-index: 1000000
  position: absolute
  text-align: center
  box-sizing: border-box
  color: #000
  background: #ffc107
  border-radius: 50%

#gallery-overlay .holder .gallery-nav #close:hover
  opacity: 1

.gallery-photo 
  @extend .clearfix
  display: block
  box-shadow: 5px 10px 20px 1px rgba(#000, 0.1)
  border-radius: rem(15)
  max-height: rem(495)
  height: 100%
  overflow: hidden
  img
    border-radius: rem(15)
    display: block

.gallery-item
  margin-bottom: rem(30)
/* END gallery */

