/* BEGIN flexbox grid */
$gap: 1rem
$cols: 12

$xs: 30rem // 320px // 100%
$sm: 40rem // 768px // 750px 
$md: 48rem // 960px // 950px
$lg: 60rem // 1200px // 1170px
$xlg: 75rem // 1800px //  1170px



@function col-width($col)
	@return $col * 100% / $cols

.container
	max-width: rem(1170)
	width: 100%
	margin: auto
	padding: 0 $gap

.row
	display: flex
	flex: 0 1 auto
	flex-flow: row wrap
	margin-right: -$gap
	margin-left: -$gap
	&.reverse
		flex-direction: row-reverse

.col
	display: flex
	flex-flow: column nowrap
	&.reverse
		flex-direction: column-reverse

=isColName($name)
	.#{$name}-1, .#{$name}-2, .#{$name}-3,
	.#{$name}-4, .#{$name}-5, .#{$name}-6,
	.#{$name}-7, .#{$name}-8, .#{$name}-9,
	.#{$name}-10, .#{$name}-11, .#{$name}-12,
	[class*=#{$name}-gap]
		flex: 0 0 auto
		padding-right: $gap
		padding-left: $gap
	
	.#{$name}
		flex-grow: 1
		flex-basis: 0
		max-width: 100%
		&_start
			justify-content: flex-start
			text-align: start
		&_center
			justify-content: center
			text-align: center
		&_end
			justify-content: flex-end
			text-align: end
		&_top
			align-items: flex-start
		&_middle
			align-items: center
		&_bottom
			align-items: flex-end
		&_around
			justify-content: space-around
		&_between
			justify-content: space-between
		&_first
			order: -1
		&_last
			order: 1
		
	@for $j from 1 through $cols
		$col-name-num: $name + '-' + $j
		.#{$col-name-num}
			flex-basis: col-width($j)
			max-width: col-width($j)
 
	.#{($name + '-' + gap + '-0')} 
		margin-left: 0
	@for $j from 1 through $cols
		$col-name-gap: $name + '-' + gap + '-' + $j
		.#{$col-name-gap}
			margin-left: col-width($j)  
		
	 
+isColName(xs)    
@media only screen and (min-width: $xs)
	+isColName(sm)    
@media only screen and (min-width: $sm)
	+isColName(md)   
@media only screen and (min-width: $md)
	+isColName(lg)
@media only screen and (min-width: $lg)
	+isColName(xlg)


=isColName2($name)
	.#{$name}
		&_hidden
			display: none
		&_visible
			display: block
		&-align
			&--center
				text-align: center
			&--right
				text-align: right
			&--left
				text-align: left


@media only screen and (max-width: $xs) 
	+isColName2(xs)
@media only screen and (min-width: 481px) and (max-width: $sm)
	+isColName2(sm)
@media only screen and (min-width: 641px) and (max-width: $md)
	+isColName2(md)
@media only screen and (min-width: 769px) and (max-width: $lg)
	+isColName2(lg)
@media only screen and (min-width: 993px)
	+isColName2(xlg)
/* END flexbox grid */

/* BEGIN sticky footer */
.body
	display: flex
	flex-direction: column
	min-height: 100vh
.page-wrap
	flex: 1 0 auto
/* END sticky footer */