/* BEGIN header */
.header
	@extend .abs
	z-index: 100500
	height: auto
	&-top
		background-color: $greyLight
		background-color: $blue3
		+font(18, $fz, 400)
		font-size: rem(15)
		color: $greyText1
		color: $white
		width: 100%
		.container
			padding-top: rem(5)
			padding-bottom: rem(5)
		.icon
			fill: $white
		.header__link:hover
			color: $white
			opacity: 0.8
			.icon
				fill: $white
				opacity: 0.8
	&-btm
		//padding: rem(5) 0
		background-color: $white
		width: 100%
		//height: rem(80)
		@extend .flex
		box-shadow: 0 1px 5px 0 rgba($black, 0.15)
	&__link
		//margin-right: rem(50)
		margin-right: rem(30)
		letter-spacing: 0.5px
		&:hover
			color: $main
			.icon
				fill: $main
		// &:first-child
		// 	margin-right: rem(105)
		&:last-child
			margin-right: 0
		@media only screen and (max-width: rem(660))
			margin: 0 10px
			&:first-child, &:last-child
				margin: 0 10px
			span
				display: none
	&--white
		background-color: $white
	&--gray
		background-color: $greyLight
/* END header */

.main
	padding-top: rem(110)