@media only screen and (max-width: rem(500))
	.logo--header
		display: none
	.header-btm
		height: auto !important
	.main
		padding-top: 80px !important
	.menu-item	
		padding: 0 5px !important
		& &
			padding: 5px 10px !important
@media only screen and (max-width: rem(384))
	.menu__link	
		font-size: 1rem !important
		padding: 0 5px !important
