.owl-nav.disabled + .owl-dots
  margin-top: 10px
  text-align: center

.owl-dots .owl-dot
  display: inline-block
  zoom: 1

.owl-dots .owl-dot span
  width: 10px
  height: 10px
  margin: 5px 7px
  background: $greyText1
  display: block
  -webkit-backface-visibility: visible
  transition: opacity .2s ease
  border-radius: 30px

.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span
  background: $main