.row
	&--section
		padding-top: rem(100)
		padding-bottom: rem(100)
		@media only screen and (max-width: $sm)
			padding-top: rem(50)
			padding-bottom: rem(50)
	&--0
		padding: 0 !important
		margin: 0 !important
	&--1
		margin-bottom: rem(45)
	&--2
		margin-bottom: rem(90)
		@media only screen and (max-width: $sm)
			margin-bottom: rem(45)
	&--3
		margin-bottom: rem(30)
	&--4
		margin-top: rem(30)
		margin-bottom: rem(30)
	&--5
		margin-bottom: rem(100)
		margin-bottom: rem(60)
		text-align: center
		.icon
			margin-left: auto
			margin-right: auto
		// @media only screen and (max-width: $sm)
		// 	& > *
		// 		text-align: center
	&--6
		margin-bottom: rem(90)
		margin-bottom: rem(110)
		@media only screen and (max-width: $sm)
			margin-bottom: rem(55)
	&--7
		margin-top: rem(20)
	&--8
		margin-bottom: rem(45)
		margin-bottom: rem(15)
		@media only screen and (max-width: $sm)
			margin-bottom: rem(15)
	&--9
		margin-bottom: rem(40)
		margin-bottom: rem(25)
		@media only screen and (max-width: $sm)
			margin-bottom: rem(20)
	&--10
		margin-top: rem(25)
	&--11
		margin-bottom: rem(85)
		@media only screen and (max-width: $sm)
			margin-bottom: rem(45)
	&--12
		margin-bottom: rem(50)
	&--13
		margin-bottom: rem(45)
		@media only screen and (max-width: $sm)
			margin-bottom: rem(25)
	&--14
		margin-bottom: rem(100)
		@media only screen and (max-width: $sm)
			margin-bottom: rem(50)
	&--15
		margin-bottom: rem(50)
	&--16
		margin-bottom: rem(15)
	&--17
		&:nth-child(odd)
			margin-bottom: rem(100) !important
		@media only screen and (max-width: $sm)
			margin-bottom: rem(30) !important
	&--18
		margin-top: rem(75)
		margin-bottom: rem(-50)
	&--19
		margin-top: rem(50)
		//margin-bottom: rem(30)
	&--20
		margin-top: rem(20)
	&--21
		margin-bottom: rem(40)
		margin-top: rem(40)
	&--22
		padding: rem(65)
	&--24
		margin-top: rem(-200)
		z-index: 100500
		padding: 0
	&--25
		padding-top: rem(20)
	&--26
		padding-bottom: rem(20)
		padding-left: rem(10)
		padding-right: rem(10)
	&--27
		margin-bottom: rem(40)
	&--28
		margin-top: rem(40)
		margin-bottom: rem(40)
	&--29
		padding: rem(60) rem(40)
		@media only screen and (max-width: $sm)
			padding: rem(30)
	&--30
		padding-top: rem(30)
		margin-top: rem(15)
	&--31
		margin-right: rem(15)
		@media only screen and (max-width: $sm)
			margin-right: auto
	&--32
		margin-bottom: rem(-300)
		//transform: translateY(50%)
		z-index: 2 !important
	&--33
		padding-top: rem(250)
		@media only screen and (max-width: $sm)
			padding-top: 18.625rem
	&--34
		margin-top: rem(-75)
		margin-bottom: rem(100)
	&--35
		padding-top: rem(0)
		padding-bottom: rem(0)