/* BEGIN heading */
.heading
	font-weight: 300
	line-height: 1
	&-group
		&--1
			height: rem(52)
			width: 100%
			display: table
			margin-top: rem(30)
			margin-bottom: rem(25)
			margin-top: rem(10)
			margin-bottom: rem(15)
			.heading
				display: table-cell
				vertical-align: middle
	&--bd
		position: relative
		&::before
			content: " "
			display: block
			width: 100px
			height: 2px
			background-image: linear-gradient(-90deg, $greyText1, transparent)
			margin-bottom: rem(10)
	&--center
		text-align: center
		@extend .heading--bd
		&::before
			margin-left: auto
			margin-right: auto
	&--1
		//+font(72, 80, 300)
		+font(54, $fz*1.35, 600)
		line-height: 1
		letter-spacing: 1px
		@extend .row--1
		@media only screen and (max-width: $sm)
			font-size: rem(40)
			line-height: 1.4
			text-align: center
		@media only screen and (max-width: $xs)
			font-size: rem(30)
	&--2
		+font(60, 0.9*$fz, 400)
		@extend .row--3
		@extend .heading--bd
		//display: inline-block
		//line-height: 70px
		font-weight: 100
		color: $main
		@media only screen and (max-width: $sm)
			font-size: rem(36)
			text-align: center
			display: block
	&--3
		+font(24, $fz*1.3, 600)
		color: $greyText2
		@extend .row--4
		@media only screen and (max-width: $sm)
			text-align: center
	&--4
		+font(18, 24, 600, $EX)
		line-height: 1.35rem
		color: $greyText2
	&--5
		+font(36, 0.83*$fz, 400)
		@extend .row--15
		@media only screen and (max-width: $sm)
			text-align: center
			font-size: rem(30)
	&--6
		+font(36, $fz, 300)

/* END heading */

/* BEGIN text */
.text
	&--center
		text-align: center
	&--right
		text-align: right
	&--left
		text-align: left

	&--color
		color: $main
	
	&--1
		@extend .text--hero
		color: $greyText3
		color: #999
		@media only screen and (max-width: $sm)
			text-align: center
	&--2
		font-size: 1rem
		font-size: rem(15)
		line-height: 1.35
		//padding-right: 20px
		padding-left: rem(15)
		padding-right: rem(15)

		color: #777
	&--3
		+font(18, 24, 300, $EX)
		color: $greyText2
		padding-bottom: rem(30)

	&--4
		+font(30, $fz*1.1, 300)
		color: $greyText2
		position: relative
		&::before
			content: " "
			@extend .heading--2::before 
			margin-left: auto
			margin-right: auto
		@media only screen and (max-width: $sm)
			font-size: rem(26)
	&--5
		+font(14, 1.28*$fz, 400)
		line-height: 1.35
		color: $greyText3
	&--6
		+font(24, 1.1*$fz, 400)
		color: $greyText2
	&--7
		+font(24, $fz, 400)
		color: $greyText2
		@extend .row--21
	&--8
		+font(14, 1.28*$fz, 300)
		color: $greyText3
		@extend .row--26
	&--price
		color: $main
		+font(18, 24, 600, $EX)
		margin-bottom: rem(20)
		font-size: 1.65rem
		line-height: 1
		&2
			+font(48, $fz, 300)
			color: $main
			@extend .row--28
	&--hero
		+font(24, $fz*1.5, 300)
		line-height: 1.25
		opacity: 0.8
		@extend .row--2
		@media only screen and (max-width: $sm)
			font-size: rem(20)
	&--testimonials
		@extend .bg--grad1
		text-align: center
		margin-bottom: rem(30)
	&--date-article
		+font(18, 3.89*$fz, 600)
		text-transform: uppercase
		@extend .row--12

/* END text */

/* BEGIN link */
.link
	display: inline-block
	vertical-align: middle
	cursor: pointer
	user-select: none
	border-bottom: 1px dotted transparent
	position: relative
	&:hover
		color: $main
		border-bottom-color: $main
	&--block
		display: block
	&--main
		color: $main
		letter-spacing: 0.05rem
		border-bottom: 1px solid $main
		+font(18, $fz, 600)
		&:hover
			color: $black
			border-bottom-color: transparent
/* END link */

.contact__link
	+font(18, $fz, 600)
	letter-spacing: 1px
	margin-bottom: rem(20)
	white-space: nowrap