@import "_index"

/* BEGIN menu */
.menu
	&-item
		display: inline-block
		vertical-align: middle
		position: relative
		padding: rem(20) rem(15)
		&:hover
			.menu-sub
				display: block
	&__link
		+font(20, $fz, 400)
		letter-spacing: 0.05rem
		text-transform: lowercase
		&--active, &:hover
			color: $main
	&-sub 
		display: none
		position: absolute
		left: 0
		background-color: rgba($white, 0.2)
		padding: 10px
		border: 1px solid $white
		z-index: 100500
		max-width: rem(175)
		width: 100%
		box-shadow: 0 0 10px 1px $grey
		@media only screen and (max-width: rem(500))
			top: rem(30)
		.menu-item
			display: block
			padding: rem(10) rem(15)
			background-color: $white
		.menu__link
			margin-bottom: 1px
			color: $black
			&:hover
				color: $main

/* END menu */

/* BEGIN section */
.section
	@extend .row--section
	position: relative
	z-index: 1
	&--hero
		@extend .bgi
		@extend .bg--fh
		+theme($main)
		background-image: url(../img/bg-hero.jpg)
		background-size: cover
		background-attachment: fixed
		&::after
			content: " "
			@extend .abs--center
			background-color: rgba($black, 0.5)
		@media only screen and (max-width: $sm)
			background-image: none
			background-color: $main
		&-article
			@extend .section--hero
			background-image: url(../img/bg-hero-article.jpg)
			padding: 0
		&-services
			@extend .section--hero
			+theme($white)
			background-image: url(../img/bg-hero-services.jpg)
			&::after
				content: normal
/* END section */

/* BEGIN figure */
.figure
	&-wrap--2
		background-color: $white
		border-radius: rem(5)
		box-shadow: 0 2px 30px -3px rgba($black, 0.15)
		margin-bottom: rem(30)
		&:hover
			box-shadow: 0 2px 30px -3px rgba($black, 0.25)
	&-content
		padding: rem(25)
/* END figure */

/* BEGIN list */
.list
	&--1
		margin: rem(-40) auto rem(50)
		margin-left: rem(50)
		@media only screen and (max-width: $sm)
			margin-left: 0
			margin-top: 0
	&__item--1
		+font(18, 24, 400)
		position: relative
		//margin-bottom: rem(30)
		margin-bottom: rem(15)
		padding-left: rem(40)
		&::before
			content: ""
			@extend .abs
			left: 0
			top: 50%
			transform: translateY(-50%)
			@extend .bgi
			background-image: url(../icon/check.svg)
			margin-right: rem(10)
			width: rem(29)
			height: rem(23)
			
/* END list */


/* BEGIN footer */
.footer
	+theme($main)
	background-color: $black
	padding: rem(20) 0
	&__link, .text--copyright
		opacity: 0.8
		margin: 5px 10px
		&:hover
			opacity: 1
		@media only screen and (max-width: $sm)
			margin: 10px
			span
				display: none



/* END footer */

/* BEGIN news */
.news
	&-item
		@extend .row--11
	&__heading
		+font(24, 1.5*$fz, 400)
		color: $main
		@extend .row--9
		@media only screen and (max-width: $sm)
			font-size: 1.25rem
	&__text
		+font(16, 1.5*$fz, 300)
		color: $greyText2
		@extend .bg--grad1
	&__date
		+font(18, 18, 100)
		color: $greyText3
		@extend .row--8
/* END news */

/* BEGIN article */
.article1
	@extend .row--14
	&:last-child
		margin: 0
	&__heading
		+font(18, 1.67*$fz, 600)
		@extend .row--13
	&__text
		+font(16, 1.875*$fz, 300)
		@extend .row--13
		&:last-child
			margin-bottom: 0
		@media only screen and (max-width: $sm)
			line-height: 1.5
			font-size: 0.9rem
/* END article */

/* BEGIN img */
.img	
	&-wrap
		display: block
		width: 100%
		position: relative
		img
			width: 100%
			display: block
			margin: 0
			object-fit: cover
		&--round
			@extend .img-wrap
			height: rem(174)
			img
				border-radius: rem(5)
				height: rem(170)
		&--round2
			@extend .img-wrap
			height: rem(260)
			border-radius: rem(5) rem(5) 0 0
			overflow: hidden
			img
				height: 100%
		&--partner
			@extend .flex--center
			height: rem(100)
			margin: rem(30) auto rem(30)
			filter: grayscale(1)
			-webkit-filter: grayscale(1)
			transition: all 0.3s ease-in
			&:hover
				filter: grayscale(0)
				-webkit-filter: grayscale(0)
				transform: translateY(-5px)
	&--abs1
		position: absolute
		max-width: rem(500)
		top: -35%	
/* END img */